@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

:root {
    --primary-color: #CFFF8D;
    --background-color2: #5c8369;
    --background-color1: #425F57;
    --secondary-color: #A8E890;
}

html {
    scroll-behavior: smooth;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    height: -20%;
    margin-bottom: -2em;
}

body {
    background-color: var(--background-color1);
    margin: 0;
    padding: 0;
    font-family: 'Poppins';
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

section {
    padding: 3em 0 0;
}

.navbar {

    background-color: var(--background-color1);
    padding: 0.4em 1em 0;
    margin-bottom: -5.4em;

    .container {
        display: flex;
        place-content: space-between;

        .logo {

            .logo-name {
                color: white;
                text-decoration: none;
                font-size: 2em;
                font-weight: bold;
                margin: 0;

                span {
                    color: var(--primary-color);
                }
            }

            p {
                font-size: 1.4em;
                font-weight: lighter;
                margin: 0;
                margin-top: -0.6em;
                color: white;
            }
        }

        i {
            color: white;
            margin-top: 1.6em;
            margin-right: 1.4em;
            cursor: pointer;
        }


    }

    nav {
        display: none;

        ul {
            padding-bottom: 1em;

            li {
                font-weight: 400;
            }
        }
    }
}

.header {
    background-color: var(--background-color2);

    .container {
        display: block;
        text-align: center;
        margin-top: 6em;

        .left-col {
            padding-top: 4em;
            margin-bottom: 6em;

            h1 {
                color: white;
                font-size: 3em;

                span {
                    color: var(--primary-color);
                }
            }

            p {
                margin-top: -2.2em;
                margin-bottom: 2.2em;
                text-transform: uppercase;
                color: white;
                font-size: 1.4em;
                font-weight: bold;
                letter-spacing: 0.2em;
            }

            .header-btn {

                text-decoration: none;
                color: var(--background-color2);
                font-size: 1.2em;
                font-weight: bold;
                background-color: white;
                padding: 0.8em;
                border-radius: 5em;

                &:hover {
                    background-color: var(--background-color1);
                    color: white;
                }
            }
        }

        .right-col {
            img {
                object-fit: cover;
                width: 100%;
                display: block;
                // margin: -1em;
            }
        }
    }
}

.about-section {
    .container {
        padding: 2em;

        .content {
            .subhead {
                color: var(--primary-color);
            }

            .tagline {
                font-size: 2em;
                color: white;
                width: 70%;
                line-height: 1.2em;
            }

            .para {
                background-color: var(--background-color2);
                padding: 1.6em;
                border-radius: 1em;

                p {
                    color: white;
                    font-size: 1.2em;
                }
            }
        }

        .horizontal-img {
            display: flex;
            place-content: space-between;
            margin: 2em 0;

            img {
                width: 30%;
                border-radius: 1em;
            }
        }

        .right-img {
            img {
                width: 100%;
                border-radius: 1em;
            }
        }
    }
}

.menu-section {
    background-color: var(--background-color2);

    .container {
        padding: 2em;

        .content {
            .subhead {
                color: var(--primary-color);
            }

            .tagline {
                font-size: 2em;
                color: white;
                width: 70%;
                line-height: 1.2em;
            }

        }

        .menu-items {
            display: block;


            ul {

                li {
                    background-color: var(--background-color1);
                    padding: 2em;
                    margin: 1.6em 0em;
                    border-radius: 2em;

                    img {
                        width: 100%;
                        border-radius: 1em;
                        border: 5px solid var(--secondary-color);
                    }

                    h3,
                    p {
                        color: white;
                    }

                    h3 {
                        font-size: 1.6em;
                        margin-bottom: -0.4em;
                    }

                    a {
                        text-decoration: none;
                        color: var(--secondary-color);

                        &:hover {
                            color: rgba($color: #A8E890, $alpha: 0.7);
                        }
                    }
                }
            }
        }
    }
}

.chefs-section {
    background-color: var(--background-color2);

    .container {
        padding: 2em;

        .content {
            .subhead {
                color: var(--primary-color);
            }

            .tagline {
                font-size: 2em;
                color: white;
                width: 70%;
                line-height: 1.2em;
            }

        }

        .chefs {
            ul {

                li {
                    background-color: var(--background-color1);
                    padding: 2em;
                    margin: 1.6em 0em;
                    border-radius: 2em;

                    img {
                        width: 100%;
                        border-radius: 1em;
                        border: 5px solid var(--secondary-color);
                        margin-bottom: -1em;
                    }

                    h3 {
                        color: white;
                        font-size: 1.8em;
                        margin-bottom: -0.8em;
                    }

                    h4 {
                        color: var(--primary-color);
                        font-size: 1.2em;
                        margin-bottom: -0.4em;
                    }
                }
            }
        }
    }
}

.contact-section {
    .container {
        padding: 2em;
        background-color: var(--background-color1);

        .content {
            .subhead {
                color: var(--primary-color);
            }

            .tagline {
                font-size: 2em;
                color: white;
                width: 70%;
                line-height: 1.2em;
            }

            .para {
                // background-color: var(--background-color2);
                // padding: 0.2em 1.2em;
                // border-radius: 1em;

                p {
                    color: white;
                    font-size: 1.2em;
                }
            }
        }

        .contact-details {
            display: block;
            text-align: center;

            .phone,
            .email {
                display: grid;
                background-color: var(--background-color2);
                margin: 2em 0;
                padding: 0.2em 0 1.2em 0;
                border-radius: 5em;

                h3 {
                    color: var(--primary-color);
                    font-size: 1.4em;
                    margin-bottom: -0.1em;
                }

                a {
                    text-decoration: none;
                    color: white;
                }
            }
        }

        .table-reservation {
            margin-bottom: -4.8em;

            h2 {
                color: var(--primary-color);
                font-size: 1.8em;
            }

            label {
                display: block;
                font-size: 1.2em;
                color: white;
                font-weight: bold;
            }

            input,
            textarea {
                width: 100%;
                padding: 0.8em;
                margin-bottom: 1em;
                border-radius: 0.3em;
                border: 1px solid gray;
                box-sizing: border-box;
                font-size: 1.4em;
            }

            input[type="submit"] {
                background-color: var(--background-color2);
                color: var(--primary-color);
                font-weight: bold;
                font-size: 1.3em;
                border: none;
                margin-bottom: 5em;
                border-radius: 5em;
                display: inline-block;
                padding: .8em 2em;
                width: unset;
                cursor: pointer;

                &:hover {
                    background-color: white;
                    color: var(--background-color2);
                }
            }
        }

    }
}

#myBtn {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Fixed/sticky position */
    bottom: 20px;
    /* Place the button at the bottom of the page */
    right: 30px;
    /* Place the button 30px from the right */
    z-index: 99;
    /* Make sure it does not overlap */
    border: none;
    /* Remove borders */
    outline: none;
    /* Remove outline */
    background-color: var(--background-color2);
    /* Set a background color */
    color: white;
    /* Text color */
    cursor: pointer;
    /* Add a mouse pointer on hover */
    padding: 15px;
    /* Some padding */
    border-radius: 5em;
    border: 3px solid white;
    /* Rounded corners */
    font-size: 18px;
    /* Increase font size */
}

#myBtn:hover {
    background-color: var(--background-color1);
    /* Add a dark-grey background on hover */
}

.footer {
    background-color: var(--background-color2);
    padding: unset;

    .container {
        padding: 1em;
        display: block;

        .social-icons {

            ul {
                display: flex;
                box-sizing: border-box;
                justify-content: center;

                i {
                    color: white;
                    margin: 0em 0.6em;
                }
            }
        }

        .logo-name {
            display: flex;
            color: white;
            text-decoration: none;
            font-size: 2em;
            font-weight: bold;
            margin: auto;
            justify-content: center;

            span {
                color: var(--primary-color);
            }
        }

        .copyright {
            margin-top: -1.2em;

            p {
                color: white;
                text-align: center;
            }
        }
    }

}

nav.menu-btn {
    display: block;
}

nav {
    position: fixed;
    z-index: 999;
    top: 0;
    right: 0;
    background-color: var(--background-color1);
    border-left: 4px solid white;
    width: 55%;
    height: 100vh;

    .mobile-menu-exit {
        padding-left: 2em;
    }

    .primary-nav {
        text-align: right;
        padding: 2em;
        margin-top: 4em;

        li {
            a {
                text-decoration: none;
                font-size: 1.6em;
                color: white;

                &:hover {
                    color: var(--primary-color);
                }
            }
        }
    }
}

.mobile-menu-exit {
    float: right;
    margin: 2em;
    cursor: pointer;
}

@media only screen and (min-width:835px) {

    .navbar {
        background-color: var(--background-color1);

        .container {
            nav {
                display: flex;
                padding-right: 1.2em;
            }
        }
    }


    .mobile-menu,
    .mobile-menu-exit {
        display: none;
    }

    .navbar .container {
        display: flex;
        place-content: space-between;
    }

    .navbar nav {
        display: flex;
        justify-content: right;
        z-index: 0;
        background: none;
        position: unset;
        height: auto;
        width: 100%;
        padding: 0;
        border: none;
        right: 0;
        margin-top: -0.8em;

        ul {
            display: flex;
            justify-content: space-between;
            padding: 2em 0;

            li {
                margin-right: 1em;
                font-size: 0.8em;
            }
        }

        a {
            font-size: 2em;
        }

        ul.primary-nav {
            margin: 0;
        }
    }



}

@media only screen and (min-width:1180px) {
    .container {
        width: 1080px;
        margin: 0 auto;
    }

    section {
        padding: 4em 2em 2em;
    }

    .navbar {
        margin: unset;
    }

    .header .container {
        display: flex;
        place-content: space-between;
        padding: 2em 0 4em 0;


        .right-col {
            margin-left: 4em;
            height: 100%;

            img {
                height: 100%;
                margin: 0;
                margin-bottom: -0.5em;
                margin-left: 1.4em;
                border-radius: 1em;
            }
        }
    }

    .about-section {
        .container {
            padding: 4em 0;
            display: flex;
            place-content: space-between;


            .left-col {
                width: 50%;

                .content {
                    .para {
                        font-size: 0.8em;
                    }
                }
            }

            .right-img {
                width: 50%;
                // padding: 2em;
                // align-items: center;
                margin-left: 2em;
                margin-top: 6em;
            }
        }
    }

    .menu-section {

        .container {
            // margin: 0;
            display: block;
            padding: 2em 0 4em 0;

            .content {
                .tagline {
                    width: 30%;
                }
            }

            .menu-items {
                ul {
                    display: flex;
                    justify-content: space-between;

                    li {
                        margin: 0 0.6em;

                        .pizza {
                            word-spacing: 9999999px;
                        }

                        img {
                            margin-bottom: 1.4em;
                            float: left;
                            object-fit: cover;
                            width: 185px;
                            height: 210px;
                        }
                    }

                }
            }
        }
    }

    .chefs-section {
        .container {
            display: block;
            padding: 2em 0 4em 0;

            .content {
                .tagline {
                    width: 30%;
                }
            }

            .chefs {
                ul {
                    display: flex;
                    // justify-content: space-between;

                    li {
                        margin: 0 1em;

                    }
                }
            }
        }
    }

    .contact-section {
        .container {
            display: flex;
            padding: 2em 0 4em 0;

            .left-col {
                padding: 0 2em;
                width: 60%;

                .content {
                    h1 {
                        width: 70%;
                    }
                }
            }

            .right-col {
                margin-left: 2em;
                width: 70%;

                .table-reservation {

                    label {
                        font-size: 1em;
                    }

                    input,
                    textarea {
                        padding: 0.6em;
                        margin-bottom: 0.6em;
                        font-size: 1.2em;
                    }

                    input[type="submit"] {
                        width: 100%;
                    }
                }
            }

        }
    }

    .footer {
        padding: 2em;

        .container {
            display: flex;
            justify-content: space-between;
            margin-bottom: -1em;
        }
    }
}